<div class="mx-auto flex w-full max-w-80 flex-col sm:min-w-80">
  <form class="space-y-6" (submit)="forgotPassword($event)">
    <div class="flex flex-col gap-y-4">
      <mat-form-field class="w-full">
        <mat-label>Adresse e-mail</mat-label>
        <input id="email" matInput [formField]="forgotPasswordForm.email" />
        @if (
          (forgotPasswordForm.email().touched() || forgotPasswordForm.email().dirty()) &&
            forgotPasswordForm.email().errors()[0];
          as error
        ) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="mt-4 text-right text-sm font-medium">
      <a class="underline underline-offset-4 hover:underline text-primary-600" routerLink="/auth/sign-in">
        Vous avez retrouvé votre mot de passe ?
      </a>
    </div>

    @if (authStore.error(); as errorMessage) {
      <message class="mt-4" [message]="errorMessage" (dismissed)="authStore.clearError()" />
    }

    <button
      type="submit"
      matButton="filled"
      class="min-h-11! w-full rounded-lg!"
      [disabled]="forgotPasswordForm().invalid() || authStore.isLoading()">
      {{ authStore.isLoading() ? 'Envoi...' : 'Envoyer le lien' }}
    </button>
  </form>
</div>
