@layer base {
  html,
  :host {
    -webkit-font-smoothing: var(--font-smoothing);
    font-optical-sizing: var(--font-optical-sizing);
  }

  body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    line-height: var(--leading-6);
    font-weight: var(--font-weight-normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    line-height: 1.2;
    letter-spacing: var(--tracking-tight);
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}
